

body {
  background: #fafcdb;
  color: #492645;
}

a {
  text-decoration: none;
  color: #492645;
}

.review-list {
  margin: 0 auto;
  width: 50%;
}
.review {
  display: flex;
  flex-direction: column;
  font-size: 3vw;
  margin: 3vw auto;
  justify-content: center;
}

.review > img {
  width: 35vw;
  border-radius: 30px;
}


.latest-movie-reviews {
  width: 70%;
  margin: 0 auto;
  padding: 1vw;
  border-radius: 40px;
  background-color: #9febeb;
}
